# DATA CLEANNING

In [1]:
import pandas as pd
import numpy as np

### Analizamos los datos de accidentes

Relativo a la información sobre accidentes la fuente nos ofrece un dataset por año de ocurrencia del siniestro.

In [2]:
path_acc_2019 = '/home/dsc/Master DS/TFM/TFM INFO/accidents/2019_Accidentalidad.csv'
path_acc_2020 = '/home/dsc/Master DS/TFM/TFM INFO/accidents/2020_Accidentalidad.csv'
path_acc_2021 = '/home/dsc/Master DS/TFM/TFM INFO/accidents/2021_Accidentalidad.csv'

In [3]:
accidents_2019 = pd.read_csv(path_acc_2019, sep = ';' )
accidents_2020 = pd.read_csv(path_acc_2020, sep = ';' )
accidents_2021 = pd.read_csv(path_acc_2021, sep = ';' )

Comprobamos si los 3 archivos tienen las columnas mismas columnas:

In [4]:
columns_acc_2019 = accidents_2019.columns.tolist()
columns_acc_2020 = accidents_2020.columns.tolist()
columns_acc_2021 = accidents_2021.columns.tolist()

In [5]:
columns_acc = columns_acc_2019 + columns_acc_2020 + columns_acc_2021

In [6]:
from collections import Counter

In [7]:
def mycounter(series):
    return Counter(list(series))

In [8]:
columns_freq = mycounter(columns_acc)
columns_freq

Counter({'num_expediente': 3,
         'fecha': 3,
         'hora': 3,
         'localizacion': 3,
         'numero': 3,
         'cod_distrito': 3,
         'distrito': 3,
         'tipo_accidente': 3,
         'estado_meteorológico': 3,
         'tipo_vehículo': 2,
         'tipo_persona': 3,
         'rango_edad': 3,
         'sexo': 3,
         'cod_lesividad': 3,
         'tipo_lesividad': 2,
         'coordenada_x_utm': 3,
         'coordenada_y_utm': 3,
         'positiva_alcohol': 3,
         'positiva_droga': 3,
         'tipo_vehiculo': 1,
         'lesividad': 1})

In [9]:
columns_not_equal = list({x: count for x, count in columns_freq.items() if count < 3})
columns_not_equal

['tipo_vehículo', 'tipo_lesividad', 'tipo_vehiculo', 'lesividad']

In [10]:
columns_equal = list({x: count for x, count in columns_freq.items() if count == 3})
columns_equal

['num_expediente',
 'fecha',
 'hora',
 'localizacion',
 'numero',
 'cod_distrito',
 'distrito',
 'tipo_accidente',
 'estado_meteorológico',
 'tipo_persona',
 'rango_edad',
 'sexo',
 'cod_lesividad',
 'coordenada_x_utm',
 'coordenada_y_utm',
 'positiva_alcohol',
 'positiva_droga']

Cambiamos las siguientes columnas:
- las no coincidentes:'tipo_lesividad' y 'tipo_vehiculo'.

In [11]:
accidents_2019 = accidents_2019.rename(columns={'tipo_vehículo':'tipo_vehiculo',
                                               'estado_meteorológico':'estado_meteorologico'})

accidents_2020 = accidents_2020.rename(columns={'tipo_vehículo':'tipo_vehiculo',
                                               'estado_meteorológico':'estado_meteorologico'})

accidents_2021 = accidents_2021.rename(columns={'lesividad':'tipo_lesividad','tipo_vehículo':'tipo_vehiculo',
                                               'estado_meteorológico':'estado_meteorologico'})

Vamos a comprobar la existencia de Nans en nuestros datasets y en función del resultado nos plantearemos descartar alguna de las variables.

In [12]:
columns_acc_2019 = accidents_2019.columns.str.strip()
columns_acc_2020 = accidents_2020.columns.str.strip()
columns_acc_2021 = accidents_2021.columns.str.strip()

In [13]:
accidents_2019_df = pd . DataFrame (accidents_2019 , columns = columns_acc_2019 )
accidents_2020_df = pd . DataFrame (accidents_2020 , columns = columns_acc_2020 )
accidents_2021_df = pd . DataFrame (accidents_2021 , columns = columns_acc_2021 )

In [14]:
count_nan_2019_acc_df = accidents_2019_df[columns_acc_2019].isna().sum().reset_index()
count_nan_2020_acc_df = accidents_2020_df[columns_acc_2020].isna().sum().reset_index()
count_nan_2021_acc_df = accidents_2021_df[columns_acc_2021].isna().sum().reset_index()

In [15]:
count_nan_acc_df = pd.concat([count_nan_2019_acc_df,count_nan_2020_acc_df,count_nan_2021_acc_df],axis=1,
                             keys=['Nan_2019','Nan_2020','Nan_2021']) 
count_nan_acc_df

                Nan_2019                     Nan_2020         \
                   index      0                 index      0
0         num_expediente      0        num_expediente      0
1                  fecha      0                 fecha      0
2                   hora      0                  hora      0
3           localizacion      0          localizacion      0
4                 numero      0                numero      2
5           cod_distrito      0          cod_distrito      2
6               distrito      0              distrito      2
7         tipo_accidente      0        tipo_accidente      0
8   estado_meteorologico   5130  estado_meteorologico   3196
9          tipo_vehiculo    176         tipo_vehiculo    137
10          tipo_persona      0          tipo_persona      0
11            rango_edad      0            rango_edad      0
12                  sexo      0                  sexo      0
13         cod_lesividad  21769         cod_lesividad  14802
14        tipo_lesividad  21769        tipo_lesividad  14802
15      coordenada_x_utm      0      coordenada_x_utm      2
16      coordenada_y_utm      0      coordenada_y_utm      2
17      positiva_alcohol    109      positiva_alcohol    102
18        positiva_droga  51649        positiva_droga  32351

                Nan_2021
                   index      0
0         num_expediente      0
1                  fecha      0
2                   hora      0
3           localizacion      0
4                 numero      3
5           cod_distrito      3
6               distrito      3
7         tipo_accidente      4
8   estado_meteorologico   4428
9          tipo_vehiculo     54
10          tipo_persona      3
11            rango_edad      0
12                  sexo      0
13         cod_lesividad  18964
14        tipo_lesividad  18964
15      coordenada_x_utm      9
16      coordenada_y_utm      9
17      positiva_alcohol    167
18        positiva_droga  41694

Por los resultados obtenidos en la ocurrencia de Nans procedemos a descartar las siguientes variables:
    - 'estado_meteorologico'
    - 'cod_lesividad'
    - 'tipo_lesividad'
    - 'positiva_droga'

Adicionalmente vamos a eliminar tambien las siguientes variables, ya que no aportan información extrapolable:
    - 'localizacion'
    - 'numero'

In [16]:
variables_to_drop = ['estado_meteorologico','cod_lesividad','tipo_lesividad','positiva_droga','localizacion',
                     'numero']

In [17]:
accidents_2019_df_clean = accidents_2019_df.drop(variables_to_drop, axis=1)
accidents_2020_df_clean = accidents_2020_df.drop(variables_to_drop, axis=1)
accidents_2021_df_clean = accidents_2021_df.drop(variables_to_drop, axis=1)

In [18]:
acc_2019 = accidents_2019_df_clean.dropna()
acc_2020 = accidents_2020_df_clean.dropna()
acc_2021 = accidents_2021_df_clean.dropna()

Comprobamos la reducción que ha sufrido el dataset original:

In [19]:
print(accidents_2019.shape)
print(accidents_2019_df.shape)
print(accidents_2019_df_clean.shape)
print(acc_2019.shape)

(51811, 19)
(51811, 19)
(51811, 13)
(51547, 13)

In [20]:
print(accidents_2020.shape)
print(accidents_2020_df.shape)
print(accidents_2020_df_clean.shape)
print(acc_2020.shape)

(32433, 19)
(32433, 19)
(32433, 13)
(32207, 13)

In [21]:
print(accidents_2021.shape)
print(accidents_2021_df.shape)
print(accidents_2021_df_clean.shape)
print(acc_2021.shape)

(41783, 19)
(41783, 19)
(41783, 13)
(41552, 13)

Comprobamos que ya no haya ningun Nan:

In [22]:
columns_acc = acc_2019.columns.str.strip()

In [23]:
count_nan_2019_check = acc_2019[columns_acc].isna().sum().reset_index()
count_nan_2020_check = acc_2020[columns_acc].isna().sum().reset_index()
count_nan_2021_check = acc_2021[columns_acc].isna().sum().reset_index()

In [24]:
count_nan_acc_check = pd.concat([count_nan_2019_check,count_nan_2020_check,count_nan_2021_check],axis=1,
                             keys=['Nan_2019','Nan_2020','Nan_2021']) 
count_nan_acc_check

            Nan_2019             Nan_2020             Nan_2021
               index  0             index  0             index  0
0     num_expediente  0    num_expediente  0    num_expediente  0
1              fecha  0             fecha  0             fecha  0
2               hora  0              hora  0              hora  0
3       cod_distrito  0      cod_distrito  0      cod_distrito  0
4           distrito  0          distrito  0          distrito  0
5     tipo_accidente  0    tipo_accidente  0    tipo_accidente  0
6      tipo_vehiculo  0     tipo_vehiculo  0     tipo_vehiculo  0
7       tipo_persona  0      tipo_persona  0      tipo_persona  0
8         rango_edad  0        rango_edad  0        rango_edad  0
9               sexo  0              sexo  0              sexo  0
10  coordenada_x_utm  0  coordenada_x_utm  0  coordenada_x_utm  0
11  coordenada_y_utm  0  coordenada_y_utm  0  coordenada_y_utm  0
12  positiva_alcohol  0  positiva_alcohol  0  positiva_alcohol  0

Antes de fusionar los ficheros de accidentes, comprobamos lo siguiente:
    - nº expediente: Confirmar que el año del expediente coincide con la fecha
        Según la información de la fuente, la estructura del número de expediente atiende a:
        AAAASNNNNNN
            AAAA: año, S: expediente con accidente, NNNNNN: nº correlativo por año
            Puede haber varios expendientes con el mismo numero, uno para cada afectado
    - categorias de:
        - Tipo de accidente
        - Tipo de vehiculo
        - Tipo de persona
        - Rango de edad
        - Sexo
        - Positivo en alcohol

In [25]:
import datetime

In [26]:
acc_2019['year_date'] = pd.DatetimeIndex(acc_2019['fecha']).year.astype(int)
acc_2019['year_exp'] = acc_2019['num_expediente'].str[:4].astype(int)
acc_2019['year_equal_cond'] = acc_2019['year_exp']-(acc_2019['year_date'])
acc_2019.groupby('year_equal_cond')['num_expediente'].count().reset_index()

/tmp/ipykernel_5071/3420794535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2019['year_date'] = pd.DatetimeIndex(acc_2019['fecha']).year.astype(int)
/tmp/ipykernel_5071/3420794535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2019['year_exp'] = acc_2019['num_expediente'].str[:4].astype(int)
/tmp/ipykernel_5071/3420794535.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2019['year_equal_cond'] = acc_2019['year_exp']-(acc_2019['year_date'])

   year_equal_cond  num_expediente
0               -1               2
1                0           51545

In [27]:
# accidents_2019_df_clean['year_equal'] =accidents_2019_df_clean['year_exp'].equals(accidents_2019_df_clean['year_date'])
# accidents_2019_df_clean.head()

In [28]:
acc_2020['year_date'] = pd.DatetimeIndex(acc_2020['fecha']).year.astype(int)
acc_2020['year_exp'] = acc_2020['num_expediente'].str[:4].astype(int)
acc_2020['year_equal_cond'] =acc_2020['year_exp']-(acc_2020['year_date'])
acc_2020.groupby('year_equal_cond')['num_expediente'].count().reset_index()

/tmp/ipykernel_5071/1015613943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2020['year_date'] = pd.DatetimeIndex(acc_2020['fecha']).year.astype(int)
/tmp/ipykernel_5071/1015613943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2020['year_exp'] = acc_2020['num_expediente'].str[:4].astype(int)
/tmp/ipykernel_5071/1015613943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2020['year_equal_cond'] =acc_2020['year_exp']-(acc_2020['year_date'])

   year_equal_cond  num_expediente
0               -1               2
1                0           32205

In [29]:
acc_2021['year_date'] = pd.DatetimeIndex(acc_2021['fecha']).year.astype(int)
acc_2021['year_exp'] = acc_2021['num_expediente'].str[:4].astype(int)
acc_2021['year_equal_cond'] =acc_2021['year_exp']-(acc_2021['year_date'])
acc_2021.groupby('year_equal_cond')['num_expediente'].count().reset_index()

/tmp/ipykernel_5071/2576626057.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2021['year_date'] = pd.DatetimeIndex(acc_2021['fecha']).year.astype(int)
/tmp/ipykernel_5071/2576626057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2021['year_exp'] = acc_2021['num_expediente'].str[:4].astype(int)
/tmp/ipykernel_5071/2576626057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acc_2021['year_equal_cond'] =acc_2021['year_exp']-(acc_2021['year_date'])

   year_equal_cond  num_expediente
0               -1               5
1                0           41547

Eliminamos las filas donde no coindicen ambos años
Posteriormente, eliminaremos la columna de 'year expediente' y el de la condición

In [32]:
indexNames19 = acc_2019[ acc_2019['year_equal_cond'] == -1 ].index
indexNames19

Int64Index([0, 1], dtype='int64')

In [34]:
acc_2019.drop(indexNames19,inplace=True)

/home/dsc/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [35]:
acc_2019.drop(['year_equal_cond','year_exp'],axis=1,inplace=True)

In [37]:
acc_2019.shape

(51545, 14)

In [38]:
indexNames20 = acc_2020[acc_2020['year_equal_cond']==-1].index
acc_2020.drop(indexNames20,inplace=True)
acc_2020.drop(['year_equal_cond','year_exp'],axis=1,inplace=True)

In [39]:
acc_2020.shape

(32205, 14)

In [40]:
indexNames21 = acc_2021[acc_2021['year_equal_cond']==-1].index
acc_2021.drop(indexNames21,inplace=True)
acc_2021.drop(['year_equal_cond','year_exp'],axis=1,inplace=True)

In [41]:
acc_2021.shape

(41547, 14)

Tipo de accidente
        - Tipo de vehiculo
        - Tipo de persona
        - Rango de edad
        - Sexo
        - Positivo en alcohol

In [42]:
var_to_check = ['tipo_vehiculo','tipo_accidente', 'tipo_persona', 'rango_edad', 'sexo', 'positiva_alcohol']

In [43]:
check_var = []

for i in var_to_check:
    acc_type_2019 = acc_2019[i].unique().tolist()
    acc_type_2020 = acc_2020[i].unique().tolist()
    acc_type_2021 = acc_2021[i].unique().tolist()
    if(set(acc_type_2019) == set(acc_type_2020)):
        if (set(acc_type_2019) == set(acc_type_2021)):
            check_var.append(i+": ok")
        else:
            check_var.append(i+": NO ok")
    else:
        check_var.append(i+": NO ok")
check_var

['tipo_vehiculo: NO ok',
 'tipo_accidente: ok',
 'tipo_persona: ok',
 'rango_edad: ok',
 'sexo: ok',
 'positiva_alcohol: ok']

Vemos que hay una diferencia en las categorias de 'tipo de vehiculo' entre los distintos datasets, vamos a analizar:

In [44]:
veh_type_2019 = acc_2019['tipo_vehiculo'].unique().tolist()
veh_type_2020 = acc_2020['tipo_vehiculo'].unique().tolist()
veh_type_2021 = acc_2021['tipo_vehiculo'].unique().tolist()

In [45]:
veh_type_2019_df = pd.DataFrame(veh_type_2019, columns=['Type_2019'])
veh_type_2020_df = pd.DataFrame(veh_type_2020, columns=['Type_2020'])
veh_type_2021_df = pd.DataFrame(veh_type_2021, columns=['Type_2021'])

In [46]:
type_veh_19_20 = pd.merge(left=veh_type_2019_df,right=veh_type_2020_df, left_on='Type_2019', right_on='Type_2020',
                         how='outer')
type_veh_19_20_21 = pd.merge(left=type_veh_19_20,right=veh_type_2021_df, left_on='Type_2020', right_on='Type_2021',
                            how='outer')
type_veh_19_20_21

,Type_2019,Type_2020,Type_2021
0,Furgoneta,Furgoneta,Furgoneta
1,Turismo,Turismo,Turismo
2,Autobús,Autobús,Autobús
3,Ciclomotor,Ciclomotor,Ciclomotor
4,Motocicleta > 125cc,Motocicleta > 125cc,Motocicleta > 125cc
5,Motocicleta hasta 125cc,Motocicleta hasta 125cc,Motocicleta hasta 125cc
6,Todo terreno,Todo terreno,Todo terreno
7,Bicicleta,Bicicleta,Bicicleta
8,Camión rígido,Camión rígido,Camión rígido
9,Maquinaria de obras,Maquinaria de obras,Maquinaria de obras
10,Tractocamión,Tractocamión,Tractocamión
11,Cuadriciclo no ligero,Cuadriciclo no ligero,Cuadriciclo no ligero
12,Vehículo articulado,Vehículo articulado,Vehículo articulado
13,Autobús articulado,Autobús articulado,Autobús articulado
14,Otros vehículos con motor,Otros vehículos con motor,Otros vehículos con motor
15,Autocaravana,Autocaravana,Autocaravana
16,Patinete,Patinete,Patinete
17,Ciclo,Ciclo,Ciclo
18,Cuadriciclo ligero,Cuadriciclo ligero,Cuadriciclo ligero
19,VMU eléctrico,VMU eléctrico,VMU eléctrico
20,Semiremolque,Semiremolque,Semiremolque
21,Microbús <= 17 plazas,NaN,NaN
22,Tranvía,NaN,NaN
23,Caravana,NaN,NaN
24,Sin especificar,Sin especificar,Sin especificar
25,Autobus EMT,Autobus EMT,Autobus EMT
26,Remolque,Remolque,Remolque
27,Camión de bomberos,Camión de bomberos,Camión de bomberos
28,Otros vehículos sin motor,Otros vehículos sin motor,Otros vehículos sin motor
29,Bicicleta EPAC (pedaleo asistido),Bicicleta EPAC (pedaleo asistido),Bicicleta EPAC (pedaleo asistido)
30,NaN,Moto de tres ruedas > 125cc,Moto de tres ruedas > 125cc
31,NaN,Tren/metro,Tren/metro
32,NaN,Ambulancia SAMUR,Ambulancia SAMUR
33,NaN,Moto de tres ruedas hasta 125cc,Moto de tres ruedas hasta 125cc
34,NaN,Ciclomotor de dos ruedas L1e-B,Ciclomotor de dos ruedas L1e-B
35,NaN,Maquinaria agrícola,Maquinaria agrícola
36,NaN,Autobús articulado EMT,Autobús articulado EMT
37,NaN,Ciclomotor de tres ruedas,Ciclomotor de tres ruedas
38,NaN,NaN,Ciclo de motor L1e-A
39,NaN,NaN,Tranvía

Vemos que todas las listas coinciden en el nombre de las categorias, pero no todos contienen todas las categorias.
LLegados a este punto generaremos dos datasets de accidentes:
- sin tener en cuenta las categorias de accidentes
- teniendo en cuenta las categorias de los accidentes:
    Tendremos que eliminar aquellas lineas donde sus tipos de vehiculos no sean coincidentes en los tres datasets 
    Habrá que eliminar también aquellas lineas cuya categoria sea 'sin especificar'

Vamos a ver las categorias de vehiculos que no estan en los tres datasets:

In [47]:
veh_type = veh_type_2019 + veh_type_2020 + veh_type_2021

In [48]:
from collections import Counter

In [49]:
def mycounter(series):
    return Counter(list(series))

In [50]:
veh_type_freq = mycounter(veh_type)

In [51]:
type_veh_del = list({x: count for x, count in veh_type_freq.items() if count < 3})

In [52]:
type_veh_ok = list({x: count for x, count in veh_type_freq.items() if count == 3})

In [53]:
vehicle = pd.DataFrame(type_veh_ok, columns = ['Type'])

In [54]:
type_veh_del

['Microbús <= 17 plazas',
 'Tranvía',
 'Caravana',
 'Moto de tres ruedas > 125cc',
 'Tren/metro',
 'Ambulancia SAMUR',
 'Moto de tres ruedas hasta 125cc',
 'Ciclomotor de dos ruedas L1e-B',
 'Maquinaria agrícola',
 'Autobús articulado EMT',
 'Ciclomotor de tres ruedas',
 'Ciclo de motor L1e-A']

In [56]:
veh_type_del_2019 = [x for x in veh_type_2019 if x in type_veh_del]
veh_type_del_2020 = [x for x in veh_type_2020 if x in type_veh_del]
veh_type_del_2021 = [x for x in veh_type_2021 if x in type_veh_del]

Ahora vamos a hacer una copia de los 3 dataframes, ya que vamos a empezar a aplicar las modificaciones para eliminar los tipos de vehiculos que nos son comunes en los ficheros.

In [61]:
acc_veh_2019 = acc_2019.copy()
acc_veh_2020 = acc_2020.copy()
acc_veh_2021 = acc_2021.copy()

In [62]:
acc_veh_2019['is_in_2019'] = acc_veh_2019['tipo_vehiculo'].isin(veh_type_del_2019)
acc_veh_2020['is_in_2020'] = acc_veh_2020['tipo_vehiculo'].isin(veh_type_del_2020)
acc_veh_2021['is_in_2021'] = acc_veh_2021['tipo_vehiculo'].isin(veh_type_del_2021)

In [65]:
index_is_in_19 = acc_veh_2019[acc_veh_2019['is_in_2019']==True].index
acc_veh_2019.drop(index_is_in_19,inplace=True)
acc_veh_2019.drop(['is_in_2019'],axis=1,inplace=True)

In [66]:
index_is_in_20 = acc_veh_2020[acc_veh_2020['is_in_2020']==True].index
acc_veh_2020.drop(index_is_in_20,inplace=True)
acc_veh_2020.drop(['is_in_2020'],axis=1,inplace=True)

In [67]:
index_is_in_21 = acc_veh_2021[acc_veh_2021['is_in_2021']==True].index
acc_veh_2021.drop(index_is_in_21,inplace=True)
acc_veh_2021.drop(['is_in_2021'],axis=1,inplace=True)

Vamos a comprobar que finalmente las clases ya coinciden:

In [68]:
veh_type_2019 = acc_veh_2019['tipo_vehiculo'].unique().tolist()
veh_type_2020 = acc_veh_2020['tipo_vehiculo'].unique().tolist()
veh_type_2021 = acc_veh_2021['tipo_vehiculo'].unique().tolist()

In [69]:
veh_type_2019_df = pd.DataFrame(veh_type_2019, columns=['Type_2019'])
veh_type_2020_df = pd.DataFrame(veh_type_2020, columns=['Type_2020'])
veh_type_2021_df = pd.DataFrame(veh_type_2021, columns=['Type_2021'])

In [70]:
type_veh_19_20 = pd.merge(left=veh_type_2019_df,right=veh_type_2020_df, left_on='Type_2019', right_on='Type_2020',
                         how='outer')
type_veh_19_20_21 = pd.merge(left=type_veh_19_20,right=veh_type_2021_df, left_on='Type_2020', right_on='Type_2021',
                            how='outer')
type_veh_19_20_21_type = pd.merge(left=type_veh_19_20_21,right=vehicle, left_on='Type_2021', right_on='Type',
                            how='outer')
type_veh_19_20_21_type

,Type_2019,Type_2020,Type_2021,Type
0,Furgoneta,Furgoneta,Furgoneta,Furgoneta
1,Turismo,Turismo,Turismo,Turismo
2,Autobús,Autobús,Autobús,Autobús
3,Ciclomotor,Ciclomotor,Ciclomotor,Ciclomotor
4,Motocicleta > 125cc,Motocicleta > 125cc,Motocicleta > 125cc,Motocicleta > 125cc
5,Motocicleta hasta 125cc,Motocicleta hasta 125cc,Motocicleta hasta 125cc,Motocicleta hasta 125cc
6,Todo terreno,Todo terreno,Todo terreno,Todo terreno
7,Bicicleta,Bicicleta,Bicicleta,Bicicleta
8,Camión rígido,Camión rígido,Camión rígido,Camión rígido
9,Maquinaria de obras,Maquinaria de obras,Maquinaria de obras,Maquinaria de obras
10,Tractocamión,Tractocamión,Tractocamión,Tractocamión
11,Cuadriciclo no ligero,Cuadriciclo no ligero,Cuadriciclo no ligero,Cuadriciclo no ligero
12,Vehículo articulado,Vehículo articulado,Vehículo articulado,Vehículo articulado
13,Autobús articulado,Autobús articulado,Autobús articulado,Autobús articulado
14,Otros vehículos con motor,Otros vehículos con motor,Otros vehículos con motor,Otros vehículos con motor
15,Autocaravana,Autocaravana,Autocaravana,Autocaravana
16,Patinete,Patinete,Patinete,Patinete
17,Ciclo,Ciclo,Ciclo,Ciclo
18,Cuadriciclo ligero,Cuadriciclo ligero,Cuadriciclo ligero,Cuadriciclo ligero
19,VMU eléctrico,VMU eléctrico,VMU eléctrico,VMU eléctrico
20,Semiremolque,Semiremolque,Semiremolque,Semiremolque
21,Sin especificar,Sin especificar,Sin especificar,Sin especificar
22,Autobus EMT,Autobus EMT,Autobus EMT,Autobus EMT
23,Remolque,Remolque,Remolque,Remolque
24,Camión de bomberos,Camión de bomberos,Camión de bomberos,Camión de bomberos
25,Otros vehículos sin motor,Otros vehículos sin motor,Otros vehículos sin motor,Otros vehículos sin motor
26,Bicicleta EPAC (pedaleo asistido),Bicicleta EPAC (pedaleo asistido),Bicicleta EPAC (pedaleo asistido),Bicicleta EPAC (pedaleo asistido)

Comprobemos como hemos reducido las muestras:

In [73]:
print(accidents_2019.shape)
print(accidents_2019_df.shape)
print(accidents_2019_df_clean.shape)
print(acc_2019.shape)
print(acc_veh_2019.shape)

(51811, 19)
(51811, 19)
(51811, 13)
(51545, 14)
(51541, 14)

In [74]:
print(accidents_2020.shape)
print(accidents_2020_df.shape)
print(accidents_2020_df_clean.shape)
print(acc_2020.shape)
print(acc_veh_2020.shape)

(32433, 19)
(32433, 19)
(32433, 13)
(32205, 14)
(32176, 14)

In [75]:
print(accidents_2021.shape)
print(accidents_2021_df.shape)
print(accidents_2021_df_clean.shape)
print(acc_2021.shape)
print(acc_veh_2021.shape)

(41783, 19)
(41783, 19)
(41783, 13)
(41547, 14)
(41508, 14)

FALTA:
comprobar q la ultima reduccion esta debida solo por la reduccion de las variables del tipo de vehiculos

Fusionamos los tres ficheros:
uno con la info de tipo de vehiculos
otro sin vehiculos